<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rain Prediction</title>
</head>
<body>
    <h3>Tomorrow's rain prediction based on today's weather </h3>
    Prediksi hujan berdasarkan hari sebelum nya

    <div>
        <form action="{{ url_for('predict') }}" method="POST">
        <input type="text" id="myTextBox1" name="maxtemp" placeholder="Input Max Temperature" required="required" />
        <br>
        <input type="text" id="myTextBox1" name="rainfall" placeholder="Input Rainfall (in mm)" required="required" >
        <br>
        <input type="text" id="myTextBox1" name="sunshine" placeholder="Input Sunshine hour" required="required" >
        <br>
        <input type="text" id="myTextBox1" name="windspeed" placeholder="Input Wind Speed" required="required">
        <br>
        <input type="text" id="myTextBox1" name="humidity9" placeholder="Input Humidity percentation at 9 AM" required="required">
        <br>
        <input type="text" id="myTextBox1" name="humidity3" placeholder="Input Humidity percentation at 3 PM" required="required">
        <br>
        <input type="text" id="myTextBox1" name="pressure" placeholder="Input Pressure at 9 AM" required="required">
        <br>
        <input type="text" id="myTextBox1" name="cloud" placeholder="Input Cloud persentation at 3 PM" required="required">
        <br>
        <input type="text" id="myTextBox1" name="month" placeholder="Input Month" required="required">
        <br>
        <select name="raintoday">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br>
        <select name="location">
            <option value="0">Adelaide</option>
            <option value="1">Albury</option>
            <option value="2">AliceSprings</option>
            <option value="3">Badgerys Creek</option>
            <option value="4">Ballarat</option>
            <option value="5">Bendigo</option>
            <option value="6">Brisbane</option>
            <option value="7">Cairns</option>
            <option value="8">Canberra</option>
            <option value="9">Cobar</option>
            <option value="10">Coffs Harbour</option>
            <option value="11">Dartmoor</option>
            <option value="12">Darwin</option>
            <option value="13">Gold Coast</option>
            <option value="14">Hobart</option>
            <option value="15">Katherine</option>
            <option value="16">Launceston</option>
            <option value="17">Melbourne</option>
            <option value="18">Melbourne Airport</option>
            <option value="19">Mildura</option>
            <option value="20">Moree</option>
            <option value="21">Mount Gambier</option>
            <option value="22">Mount Ginini</option>
            <option value="23">Nhil</option>
            <option value="24">Norah Head</option>
            <option value="25">Norfolk Island</option>
            <option value="26">Nuriootpa</option>
            <option value="27">Pearce RAAF</option>
            <option value="28">Penrith</option>
            <option value="29">Perth</option>
            <option value="30">Perth Airport</option>
            <option value="31">Portland</option>
            <option value="32">Richmond</option>
            <option value="33">Sale</option>
            <option value="34">Salmon Gums</option>
            <option value="35">Sydney</option>
            <option value="36">Sydney Airport</option>
            <option value="37">Townsville</option>
            <option value="38">Tuggeranong</option>
            <option value="39">Uluru</option>
            <option value="40">Wagga Wagga</option>
            <option value="41">Walpole</option>
            <option value="42">Watsonia</option>
            <option value="43">Williamtown</option>
            <option value="44">Witchcliffe</option>
            <option value="45">Wollongong</option>
            <option value="46">Woomera</option>
        </select>
        <br>
        <button type="submit" >Predict</button>
    </form>
    <p class="message">{{ prediction_text }}</p>
    </div>
</body>
</html>