<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

<body background="{{url_for('static', filename='img/dust.png')}}">
    <div class="description">
        <center>
            <p class="title-keterangan">Hasil Prediksi</p>

            {%if prediction == 1%}
            <p class="patient-non-risk">Besok Diprediksi <b class="non-risk">TURUN HUJAN</b></p>

            {%elif prediction == 0%}
            <p class="patient-have-risk">Besok Diprediksi <b class="have-risk">TIDAK TURUN HUJAN</b></p>

            {%else%}
            <p class="patient-have-risk">Prediksi tidak valid</p>

            {%endif%}
           
            <br><br>
            <a href='/' class="kembali">Kembali ke Form Pengisian</a>
        </center>
    </div>
</body>

</html>